@use "src/_custom" as *;

.Artists {
  display: flex;

  justify-content: center;
  &-section--header {
    @include media-breakpoint-up(md) {
    }
  }

  &-container {
    margin: auto;
  }

  &-img {
    max-width: 13rem;

    &--table {
      height: 4rem;
      width: 4rem;
    }
  }
}
