<div class="custom-container">
  <div class="custom-border"></div>
  <div class="custom-line" style="height: 18px; top: 0"></div>
  <div class="custom-line" style="height: 32px; left: -17px; top: 72px"></div>
  <div class="custom-line" style="height: 46px; left: -17px; top: 124px"></div>
  <div class="custom-line" style="height: 46px; left: -17px; top: 178px"></div>
  <div class="custom-line" style="height: 64px; right: -17px; top: 142px"></div>
  <div class="custom-content">
    <img [src]="imageMockup" class="dark" alt="" />
  </div>
</div>
