@use "src/custom" as *;

.Nav {
  width: 100%;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.9;
  }

  &-img {
    max-width: 2rem;
    &--sidebar {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      margin: 1rem 2rem;
      max-width: 3rem;
    }
  }

  &-a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-li {
    cursor: pointer;
  }
}

.Sidebar {
  margin: 1rem;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
  /*   width: 6%; */
  width: max(50px, 6rem);
  height: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  @include media-breakpoint-up(xxl) {
    width: max(80px, 10rem);
    height: 11%;
  }
}
