<div class="Card container p-5 overflow-hidden">
  <div class="Card-row row">
    <div
      class="Card-col col-md-6 p-5 mb-4 shadow-lg rounded-3 position-relative"
      *ngFor="let contenido of contenidos"
    >
      <div
        #cardArtist
        class="Card-body card"
        [routerLink]="['/spotify/artista/', obtenerTipo(contenido)]"
      >
        <img
          [src]="contenido.images[0]?.url | img"
          alt=""
          class="Card-img img-fluid rounded-3"
        />
        <div class="Card-overlay card-body card-img-overlay">
          <div class="Card-content card-title">
            <button class="Card-button btn btn-dark">
              {{ contenido.name | titlecase }}
            </button>
          </div>
          <div class="Card-content card-title">
            <button
              class="btn btn-success"
              *ngFor="let artista of contenido.artists"
            >
              {{ artista.name | titlecase }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
