@use "src/_custom" as *;

.Card {
  cursor: pointer;
  &-row {
    animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  &-col {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
  }

  &-h2 {
    font-weight: bold;
  }
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
