<div class="Card container p-5">
  <div class="Card-row row">
    <h2 class="Card-h2 my-2 text-light my-5 text-uppercase">
      Exitos del momento
    </h2>
    <div
      class="Card-col col-md-3 mb-4 shadow-lg"
      *ngFor="let contenido of contenidos"
    >
      <div
        class="Card-body card"
        [routerLink]="['/spotify/artista/', obtenerTipo(contenido)]"
      >
        <img
          [src]="contenido.images[0]?.url | img"
          alt=""
          class="Card-img img-fluid rounded-3"
        />
        <div class="Card-overlay card-body">
          <div class="Card-content card-title">
            <button class="Card-button btn btn-outline-light">
              {{ contenido.name | titlecase }}
            </button>
          </div>
          <div class="Card-content card-title">
            <button
              class="btn btn-success"
              *ngFor="let artista of contenido.artists"
            >
              {{ artista.name | titlecase }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
