$navbar-dark-hover-color: green;
$card-border-color: black;
$card-bg: #353c43;
$input-focus-border-color: white;
$input-border-color: green;
$input-color: white;
$table-border-color: black;
$font-family-base: "Inter", sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
