$navbar-dark-hover-color: green;
$card-border-color: black;
$card-bg:  #353C43;
$input-focus-border-color: white;
$input-border-color: black;
$input-color: white;
$table-border-color: black;
@import "../node_modules/bootstrap/scss/bootstrap.scss";