@use "./app/spotify/pages/home/home.component";
@use "./app/shared/navbar/navbar.component";
@use "./app/spotify/components/cards/cards.component";
@use "./app/spotify/pages/buscar/buscar.component";
@use "./app/spotify/pages/principal/principal.component";
@use "./app/spotify/pages/artista/artista.component";
@use "./app/spotify/components/spinner/spinner.component";
@use "./app/shared/footer/footer.component";
@use "./app/spotify/components/mockup-mobile/mockup-mobile.component";
@use "./app/spotify/components/carrousel/carrousel.component";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
