<app-spinner *ngIf="spinnerIsActive"></app-spinner>

<div class="Menu">
  <app-navbar></app-navbar>
  <main class="Menu-principal">
    <div class="Menu-container Menu-container--animation">
      <div class="Menu-hero">
        <img
          #logoSpotify
          src="assets/img/banner-ico.png"
          alt="logoImage"
          width="80"
          height="80"
          class="Menu-img Menu-img--animation"
        />
        <small #textSpotify class="fw-bold fs-5">Spotify</small>
        <div class="Menu-title contenido text-center">
          <h2 class="Menu-h2 Menu-h2--title fw-boldwer">
            Sumérgete en el sonido.
          </h2>
          <button
            (click)="redirectToSearchArtist()"
            class="Menu-button btn mt-3 py-3 rounded-5 px-4"
          >
            Busca tu música favorita
          </button>
        </div>
      </div>
      <div
        #containerMockupMobiles
        class="Menu-mobiles contenido overflow-hidden"
      >
        <div id="mobileMockup" #phoneMockup>
          <app-mockup-mobile
            class="mt-5"
            [imageMockup]="'assets/phone1.png'"
          ></app-mockup-mobile>
        </div>
        <div id="mobileMockup" #phoneMockup>
          <app-mockup-mobile
            [imageMockup]="'assets/phone2.png'"
          ></app-mockup-mobile>
        </div>

        <div id="mobileMockup" #phoneMockup>
          <app-mockup-mobile
            class="mt-5"
            [imageMockup]="'assets/phone3.png'"
          ></app-mockup-mobile>
        </div>
      </div>
    </div>

    <section>
      <div #carrouselContainer class="Menu-carousel">
        <div class="row m-0 p-0 justify-content-center align-items-center">
          <div #carrouselDescription class="col-12 col-lg-6 col-xl-6 p-5">
            <h2 class="Menu-h2 Menu-h2--carrouselText fw-bold">
              Reproduce y escucha lo mejor de nuestro repertorio
              <!-- Making earth cooler for people, nature, climate -->
            </h2>
            <p class="text-carrousel mt-5">
              Deja que te mostremos los artistas más sonados del momento, además
              podrás buscar a tu artista favorito, si no deseas un preview de la
              canción redirigete a la página oficial rapidamente.
            </p>
            <button
              (click)="redirectToSearchArtist()"
              class="Menu-button btn fw-bold mt-5 py-2 py-md-3 px-4"
            >
              Buscar ahora
            </button>
          </div>
          <div #carrouselSection class="col-12 col-lg-6 col-xl-6 py-5">
            <div class="Menu-appCarrousel">
              <app-carrousel
                *ngIf="artistas"
                [artistasC]="artistas"
              ></app-carrousel>
            </div>
          </div>
        </div>
      </div>

      <div class="Menu-container Menu-container--horizontal overflow-hidden">
        <article
          #containerHorizontal
          class="Menu-detail p-md-5 p-2 justify-content-start align-items-start"
        >
          <div #childHorizontal class="Menu-row row">
            <div class="Menu-section Menu-section--horizontalOne">
              <h2 class="Menu-h2 Menu-h2--carrouselText text-center">
                El éxito de Spotify gracias a ti!
              </h2>
              <p class="Menu-p Menu-p--final mt-3 text-center">
                Spotify es grande gracias a ti y las estadísticas nos respaldan,
                más de 80 millones de oyentes al mes nos hace líderes en el
                mercado.
              </p>

              <div class="Menu-statistics row">
                <div class="Menu-data col-md-4">
                  <small class="Menu-small Menu-small--title">80M+</small>
                  <small class="Menu-small Menu-small--subtitle">oyentes</small>
                </div>
                <div class="Menu-data col-md-4">
                  <small class="Menu-small Menu-small--title">1B+</small>
                  <small class="Menu-small Menu-small--subtitle"
                    >contribuyentes</small
                  >
                </div>
                <div class="Menu-data col-md-4">
                  <small class="Menu-small Menu-small--title">50+</small>
                  <small class="Menu-small Menu-small--subtitle">países</small>
                </div>
              </div>
            </div>
          </div>

          <div #childHorizontal class="Menu-row row gap-5">
            <div class="Menu-section Menu-section--horizontalTwo row">
              <div
                class="Menu-col col-md-5 me-2 shadow-lg rounded-3 rounded-3 p-4 p-md-5"
              >
                <p class="Menu-p Menu-p--advertisements fw-bold">
                  Marca como favoritos a los artistas que te marcaron.
                </p>
                <p class="Menu-p Menu-p--advertisements">
                  Arma tu lista de los artistas que más te emocionan y recibe
                  actualizaciones automáticas sobre nuevos lanzamientos y
                  recomendaciones a la altura.
                </p>
                <img
                  *ngIf="artistas"
                  alt="imgArtista2"
                  [src]="artistas[5].images[0].url"
                  class="Menu-img Menu-img--contenedor2 mx-auto rounded-3"
                />
              </div>

              <div
                *ngIf="artistas"
                class="Menu-col col-md-5 shadow-lg rounded-3 p-4 p-md-5 mx-auto d-flex flex-column align-items-center"
              >
                <img
                  alt="imgArtista3"
                  [src]="artistas[15].images[0].url"
                  class="Menu-img Menu-img--contenedor2 rounded-3"
                />
                <p class="Menu-p mt-3">
                  Agranda tu lista de canciones favoritas con las
                  recomendaciones inspiradas en lo que te gusta escuchar.
                </p>
              </div>
            </div>
          </div>
        </article>
        <div class="Menu-final">
          <!--  <app-cards [contenidos]="artistas"></app-cards> -->
          <div class="Menu-title Menu-title--final d-flex flex-column my-3">
            <h2 class="Menu-h2 Menu-h2--final fw-bold">Revisa.</h2>
            <h2 class="Menu-h2 Menu-h2--final fw-bold">Prueba.</h2>
            <h2 class="Menu-h2 Menu-h2--final fw-bold">Disfruta.</h2>
          </div>

          <p class="Menu-p Menu-p--final text-center">
            Recuerda que esta página te permite buscar a tu artista preferido de
            manera gratuita, nunca te cobraremos dinero alguno, las
            subscripciones a spotify son directamente desde su web oficial.
          </p>

          <div
            class="text-center d-flex flex-column flex-md-row justify-content-center gap-3 my-5"
          >
            <button
              (click)="redirectOficialPage()"
              class="Menu-button btn px-5 py-3"
            >
              Ir a la página oficial
            </button>
            <button
              (click)="redirectToSearchArtist()"
              class="Menu-button btn px-5 py-3"
            >
              Buscar artistas aquí
            </button>
          </div>
        </div>
      </div>

      <footer class="bottom-0">
        <app-footer></app-footer>
      </footer>
    </section>
  </main>
  <ng-template />
</div>
