<app-spinner *ngIf="SpinnerIsActive"></app-spinner>

<div class="Menu" *ngIf="artistas.length > 0">
  <app-navbar></app-navbar>
  <main class="Menu-principal">
    <div class="Menu-container Menu-container--animation">
      <div class="Menu-hero">
        <img
          #imgPrincipal
          src="assets/img/banner-ico.png"
          alt=""
          class="Menu-img Menu-img--animation"
        />
        <small #textSpotify class="fw-bold">Spotify</small>
        <div class="contenido text-center">
          <h2 class="Menu-h2 Menu-h2--hero fw-boldwer">
            Sumérgete en el sonido.
          </h2>
          <button
            (click)="redirectToSearchArtist()"
            class="Menu-button btn mt-2 py-3 rounded-5 px-3"
          >
            Busca tu música favorita
          </button>
        </div>
      </div>
      <div #contenedor1 class="Menu-banner contenido overflow-hidden">
        <img
          #imgPhone
          src="assets/phone3.png"
          alt="phone1"
          class="Menu-img Menu-img--phone phoneS"
        />
        <img
          #imgPhone
          src="assets/phone2.png"
          alt="phone2"
          class="Menu-img Menu-img--phone"
        />
        <img
          #imgPhone
          src="assets/phone3.png"
          alt="phone3"
          class="Menu-img Menu-img--phone phoneS"
        />
      </div>
    </div>

    <div class="Menu-carousel">
      <app-carrousel *ngIf="artistas" [artistasC]="artistas"></app-carrousel>
    </div>

    <div class="Menu-container Menu-container--contenedor3 overflow-hidden">
      <div class="Menu-detail container h-auto py-5">
        <div
          #menu3
          class="Menu-row Menu-row--info row shadow-lg rounded-3 mb-5"
        >
          <div class="Menu-info col-xl-6 p-5">
            <h2 class="Menu-h2 Menu-h2--contenedor2 mb-5 text-start">
              Que podrás hacer aquí ?
            </h2>
            <p class="Menu-p Menu-p--advertisements">
              Esta página recopila los últimos éxitos más sonados de Spotify,
              también puedes buscar tus artitas favoritas y escuchar su música
              más sonada desde aquí, esta página está hecha sin fines de lucro,
              está construida para de alguna forma u otra compartir la buena
              música que contiene Spotify.
            </p>
          </div>
          <div class="Menu-imgSec col-xl-6 p-2">
            <img
              [src]="artistas[11].images[0].url"
              alt="imgArtista"
              class="Menu-img Menu-img--contenedor2 img-fluid rounded-3 shadow-lg"
            />
          </div>
        </div>

        <div class="Menu-row Menu-row--targets row">
          <div
            #menu3
            class="Menu-col col-md-5 me-2 shadow-lg rounded-3 rounded-3 p-5 bg-danger"
          >
            <p class="Menu-p Menu-p--advertisements fw-bold">
              Marca como favoritos a los artistas que te marcaron.
            </p>
            <p class="Menu-p Menu-p--advertisements">
              Arma tu lista de los artistas que más te emocionan y recibe
              actualizaciones automáticas sobre nuevos lanzamientos y
              recomendaciones a la altura.
            </p>
            <img
              alt="imgArtista2"
              [src]="artistas[5].images[0].url"
              class="Menu-img Menu-img--contenedor2 mx-auto rounded-3"
            />
          </div>

          <div
            #menu3
            class="Menu-col col-md-5 shadow-lg rounded-3 p-5 mx-auto bg-success d-flex flex-column align-items-center"
          >
            <img
              alt="imgArtista3"
              [src]="artistas[15].images[0].url"
              class="Menu-img Menu-img--contenedor2 rounded-3"
            />
            <p class="Menu-p Menu-p--advertisements mt-3">
              Agranda tu lista de canciones favoritas con las recomendaciones
              inspiradas en lo que te gusta escuchar.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="Menu-container Menu-container--cards">
      <app-cards [contenidos]="artistas"></app-cards>
    </div>

    <footer class="bottom-0">
      <app-footer></app-footer>
    </footer>
  </main>
</div>
